<footer>
    <div class="footer">
        <div class="footer__1">
            <a href="./index.html"><h>Funiro.</h></a>
            <div class="footer__1__text">
                <p>400 University Drive Suite 200 Coral
                    Gables,<br>
                    FL 33134 USA</p>
            </div>
        </div>

        <div class="footer__2">
            <span>Links</span><br>
            <a href="./index.html">Home</a><br>
            <a href="./index2.html">Shop</a><br>
            <a href="./index5.html">About</a><br>
            <a href="./index6.html">Contact</a>
        </div>

        <div class="footer__3">
            <span>Help</span>
            <h2>Payment Options</h2>
            <h2>Returns</h2>
            <h2>Privacy Policies</h2>
        </div>

        <div class="footer__4">
            <span>Newsletter</span>
            <div class="footer__4__forma">
                <form action="/">
                    <input type="email" placeholder="Enter Your Email Address" name="email" id="email">
                    <button class="submit">SUBSCRIBE</button>
                </form>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <p>2023 furino. All rights reverved</p>
    </div>
</footer>