<header class="header">
    <div class="logotipe">
        <img src="./assets/images/logo.webp" alt="">
        <h1>Furniro</h1>
    </div>

    <nav class="menu">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Shop</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
    <div>
<!--        <a href="">-->
<!--            <img src="" alt="">-->
<!--        </a>-->
<!--        <a href="">-->
<!--            <img src="" alt="">-->
<!--        </a>-->
<!--        <a href="">-->
<!--            <img src="" alt="">-->
<!--        </a>-->
<!--        <a href="">-->
<!--            <img src="" alt="">-->
<!--        </a>-->

    </div>
    <div class="icon">
        <picture>
            <img src="./assets/images/icon_human.webp" alt="" class="header-help-image">
        </picture>
        <picture>
            <img src="./assets/images/icon_search.webp" alt="" class="header-help-image">
        </picture>
        <picture>
            <img src="./assets/images/icon_heart.webp" alt="" class="header-help-image">
        </picture>
        <picture>
            <img src="./assets/images/icon_basket.webp" alt="" class="header-help-image">
        </picture>
    </div>
</header>